

.NewPage {
    height: 100vh;
    background: linear-gradient(to right,rgba(178, 218, 255, 1), rgb(247, 250, 255), rgba(178, 218, 255, 1));
  }
  
  .header {

    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .title {
    text-align: center;
    margin: 20px 0;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
  }
  .right-section
  {
    padding: 20px;
    margin-right: 20px;
    margin-top: 15px;
    background-color: rgba(159, 208, 255, 1);
    border-radius: 43px;
    font-size: 14px;
    width: 100px;
    height: 12px;
    border:2px solid #004897;
    font-family: "Chivo Mono";
    font-weight: bolder;    
}

  .left-section
  {
    text-align: left;
    padding: 20px;
    margin-left: 10px;
    font-size: 30px;
    overflow: visible;
    filter: drop-shadow(0px 4px 4px #00000040) ;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .email-filter,
  .text-section,
  .email-box {
 
    padding: 10px;
    margin: 10px;
  }
  .text {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 70px;
    border-radius: 43px;
    border: 2px solid #004897;
    transition: background-color 0.1s ease; 
}
 .mail
 {
    margin-left: 30px;
 text-align: left;
 
 }
 h4{
  font-size: 17px;
 }
 h5
 {
    font-size: 17px;
    margin-left: 40px;
 }
img{
    height: 20px;
    width: 20px;
}

.text:active {
    background-color: #B2DAFF; 
}

  .text-section
  {

    width: 200px;
    height: 400;
    margin-right: 200px;
  }
  #in
  {
    background-color: rgba(215, 234, 255, 1);
    width: 350px;
    height:60px;
  border: 1%;
  border-color: #cbcbcb;
  border-radius: 43px;
  font-size: 14px;
 
  }
  li
  {
 width: 340px;
 height: 50px;
  border: 1%;
  border-color: #092086;
  font-size: 18px;
  text-align: left;
  background-color: #FBFBFB;
  border-radius: 43px;
  border: 2px solid #004897; 
  font-family: "Source Code Pro";
  }
  .email-filter li {
    padding: 12px;
    margin-bottom: 10px; 
    cursor: pointer;
  }
  
  .email-filter li:hover {
    background-color: #B2DAFF;
  }
.email-box textarea {
    width: 80%;
    height: 150px; 
    border: 1px solid #FBFBFB;
    border-radius: 8px;
    padding: 8px;
    resize: none; 
    margin-bottom: 10px;
    background-color: #FBFBFB;
    font-family:'PT Serif';
    font-size: 20px;
    font-weight:lighter;
  }
  .email-filter ul {
    list-style-type: none; /* Hide the bullet points */
    padding: 0px;
    
  }
  .email-box
  {
    width: 340px;
    height: 400px;
    background-color: #FBFBFB;
   border: 2px solid #004897; 
    border-radius: 43px;
     box-shadow: #092086;
  }
  .buttons {
 
    text-align: center;
    margin-top: 20px;
  }
  button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
  }
  #send
  {
    background-color: #007AFF;
    font-style:normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: aliceblue;
  
  }
  #edit
  {
    background-color: 007AFF;
    color: #1b89fe;
    font-style:normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
  }
  #send:hover
  {
 background-color: rgb(101, 101, 101);
  }
  